<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>

<body>
  <div class="container">
    <h1>Simple crud in Node.js and MongoDB - by jhdavino</h1>
    <h3><%= title %></h3>
    <div class="row">
      <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>actoins</th>
        </tr>
      </thead>
      <tbody>
        <% empregados.forEach(function(empregado){ %>
        <tr>
          <td><%= empregado.nome %></td>
          <td><%= empregado.idade %></td>
          <td>
            <a href="/edit/<%= empregado._id %>" > edit</a>&nbsp;
            <a href="/delete/<%= empregado._id %>" onclick="return confirm('Deseja realmente excluir este registro?');">remove</a>
          </td>
        </tr>
        <% });%>
      </tbody>    
      </table>
    </div>
  </div>
<hr />
<a href="/create">Create new employee</a>
</body>
</html>